
/* css variable */
:root {
  --main-color: #488b9a;
}

* {
  box-sizing: border-box;
padding: 0;
margin: 0;
}

body {
  background-color: var(--main-color);
  
}


header {
  padding: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: var(--main-color);
  color: white;
  
}

header h1 {
  display: inline-block;
  font-size: 50px;
  
}

nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

/* image class */

.title-img {
  width: 100%;
}

.img-1 {
  height: 450px;
  width: 100%;
  margin-bottom: 25px;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  border: solid black 5px;
}

.img:hover {
  background-color: yellow;
}

.img {
  height: auto;
  width: auto;
  margin-bottom: 25px;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  border: solid black 5px;
  
}




.about-me {
  display: flex;
  padding-top: 20px;

}
.work {
  display: flex;
}

.contact-me {
  display: flex;
  
}




.heading-2 {
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(16, 15, 15);
  margin: 0 0 0 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px 50px;
  align-items: center;
}

h3 {
  padding: 20px;
  font-size: 25px;
}


.contact-me {
  display: flex;
}

.contact-me ul {
  display: flex;
  justify-content: space-evenly;
  
}

.contact-me div {
  width: 100%;

}

p {
  font-size: 25px;

}


footer {
  font-size: 0.75rem;
  padding: 20px 0;
  text-align: center;
  color: black;
}


@media screen and (max-width: 992px) {
  body {
    background-color: antiquewhite;
  }
  header{
    padding-top: 10px;
    justify-content: center;
    background-color: antiquewhite;
  }
  header h1 {
    width: auto;
    text-align: center;
  }
  header nav ul {
    margin-top: auto;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    line-height: 2;
  }
  header nav ul li a {
    font-size: 20px;
  }
  .title-img {
    height: auto;
    width: auto;
  }
  .img {
    height: auto;
    width: auto;
  }
}

@media screen and (max-width: 768px) {
    body {
        background-color: rgb(241, 71, 32);
      }
      header{
        padding-top: 10px;
        justify-content: center;
        background-color:rgb(241, 71, 32);
      }

      header h1 {
        width: auto;
        text-align: center;
      }

      header nav ul {
        position: relative;
        left: 200px;
        margin-top: auto;
        width: auto;
        justify-content: center;
        line-height: 2;
      }

      header nav ul li a {
        font-size: 20px;
      }
      .title-img {
        height: auto;
        width: auto;
      }
      .img {
        height: auto;
        width: auto;
      }
     
      
}

@media screen and (max-width: 576px) {
    body {
        background-color: rgb(7, 145, 244);
      }
      header{
        padding-top: 10px;
        justify-content: center;
        background-color:rgb(7, 145, 244);
      }

      header h1 {
        width: auto;
        text-align: center;
      }

      header nav ul {
        position: relative;
        left: 200px;
        margin-top: auto;
        width: auto;
        justify-content: center;
        line-height: 1.5;
      }

      header nav ul li a {
        font-size: 20px;
      }
      .title-img {
        height: auto;
        width: auto;
      }
      .img {
        height: auto;
        width: auto;
      }
     
      
}
